/* color */
$color-Black: #191919;
$color-gray-700: #333333;
$color-gray-600: #686868;
$color-gray-500: #a1a1a4;
$color-gray-400: #d0d0d2;
$color-gray-300: #e5e5e8;
$color-gray-200: #f3f3f6;
$color-gray-100: #fafafb;

$color-purple-800: #4942be;
$color-purple-700: #6d68cb;
$color-purple-600: #928ed8;
$color-purple-500: #b6b3e5;
$color-purple-400: #dbd9f2;
$color-purple-300: #edecf9;
$color-purple-200: #f6f6fc;
$color-purple-100: #fbfbfe;

$color-pick-800: #e75c58;
$color-pick-700: #EA7D7D;
$color-pick-600: #F09D9B;
$color-pick-500: #F5BEBC;
$color-pick-400: #fadede;
$color-pick-300: #fdefee;
$color-pick-200: #fef7f7;
$color-pick-100: #fffcfc;

$color-blue-800: #0099ff;
$color-blue-300: #ebf7ff;
$color-yellow-800: #ffc700;
$color-green-800: #93ef7c;
$color-indie-pink: #ff8495;
